<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ex-dischi-musicali</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="wrapper">

    <header>
      <div class="container">
        <img src="assets/img/logo.png" alt="logo" />
        <select name="" id="selectGenre" v-model="selectedGenre" @change="chooseGenre()">
          <option disabled value="">Please select one</option>
          <option value="all">All</option>
          <option value="pop">Pop</option>
          <option value="rock">Rock</option>
          <option value="metal">Metal</option>
          <option value="jazz">Jazz</option>
        </select>
      </div>
    </header>
  
      
    
    <div class="cds-container container">
      <!-- Disco ad esempio -->
      <div class="cd" v-for="disc in discList">
        <img :src="`${disc.poster}`" alt="">
        <h3>{{disc.title}}</h3>
        <span class="author">{{disc.author}}</span>
        <span class="year">{{disc.year}}</span>
      </div>
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>

</html>